body {
  /* background-color: #2a2054; */
  background-image: url(../images/Gem-collector-bkground.svg);
  color: white;
  font-family: 'Muli', sans-serif;
}

.header {
  background-color: #42a390;
  text-align: center;
  padding: 20px 0px;
}

h1 {
  font-family: 'Berkshire Swash', cursive;
}

.header a {
  color: white;
}

.modal {
  color: #2a292f;
}

.ui.piled.segment,
.segment {
  color: #2a292f;
  text-align: center;
}

.gem {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.gameBoard,
.priceOfGems {
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.footer {
  width: 100%;
  text-align: center;
  background-color: #2a292f;
}
